<h3 class="mt-5 text-center">Student Grade</h3>

<div class="d-flex justify-content-end mb-3">
    <a href="{{create_url}}" class="btn btn-success">Create Record</a>
</div>

<table class="custom-table">
   <thead>
    <tr>
      <th scope="col" class="text-center">User Name</th>
      <th scope="col" class="text-center">Written</th>
      <th scope="col" class="text-center">Mcq</th>
      <th scope="col" class="text-center">Total Marks</th>
      <th scope="col" class="text-center">Grade</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#displayedtext}}
     <tr>
          <td class="text-center">{{username}}</td>
          <td class="text-center">{{written}}</td>
          <td class="text-center">{{mcq}}</td>
          <td class="text-center">{{total_marks}}</td>
          <td class="text-center">{{grade}}</td>
          <td class="text-center">
              <a href="{{edit_url}}/?id={{id}}" class="btn-edit">Edit</a>
              <button id="delete-btn-{{id}}" class="btn btn-danger delete-btn">Delete </button>
          </td>
     </tr>
    {{/displayedtext}}
  </tbody>
</table>

